@use './src/sass/modules/vars';

.button {
  padding: 5px 20px;

  cursor: pointer;
  background-color: white;
  box-shadow: vars.$defBoxShadow;
  border-radius: 4px;
  border: vars.$defBorder;

  font-weight: 500;

  &:hover {
    background-color: rgb(244, 244, 244);
  }
}
