.project-list {
    &__link {
        font-size: 16px;
        background: transparent;
        border: none;
        color: white;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}